<div class="footer">
  <footer class="bg-dark text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>About Us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ut lectus bibendum, aliquam orci in, tempor nulla.</p>
        </div>
        <div class="col-md-4">
          <h4>Opening Hours</h4>
          <p>Monday - Friday: 9am - 5pm</p>
          <p>Saturday: 10am - 4pm</p>
          <p>Sunday: Closed</p>
        </div>
        <div class="col-md-4">
          <h4>Contact Us</h4>
          <p><i class="fa fa-map-marker"></i> 123 Main St, New York, NY 10001</p>
          <p><i class="fa fa-phone"></i> (123) 456-7890</p>
          <p><i class="fa fa-envelope"></i> info@foodanddrink.com</p>
        </div>
      </div>
      <hr>
      <p class="text-center">© 2023 Food and Drink. All rights reserved.</p>
    </div>
  </footer>
</div>
